@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-primary: #EE1C25; /* Red from logo */
  --color-secondary: #0056B3; /* Blue from logo */
  --color-surface: #F8FAFC;
}

@layer base {
  body {
    @apply font-sans bg-surface text-slate-900 antialiased;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-primary;
}
